# Local .terraform directories
**/.terraform/*

# Local state lock file
*.tfstate.lock.info

# Saved plans, which can contain sensitive values
tfplan
*.plan

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform plans and crash logs
*.tfplan
crash.log
crash.*.log

# Exclude sensitive variables files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Diagram editor temporary files
*.bkp
*.dtmp